<!doctype html>
<html>
<head>
    <title>Block Party</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

  <header>
    <h1>Have Any Questions?</h1>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a
        href="/"
        class="navbar-brand mb-0 h1">
        Home
      </a>
        <button 
        type="button" 
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div  
            class="collapse navbar-collapse"
            id="navBarNav">
            <ul class="navbar-nav">   
              <li class="nav-item  active">
                <a href="/neighbors" class="nav-link">About Your Neighbors</a>
              </li>
              <li class="nav-item  active">
                <a href="/contact" class="nav-link">Contact Us</a>
              </li>
              <li class="nav-item  active">
                <a href="/signup" class="nav-link">Sign Up</a>
              </li>
            </ul>
  </nav>
        
</header>

<section>
<h2>Be part of our community</h2>

<section>
<p></p>
</section>

</section>

<form method="post" action="/contact">
<div class="fields">
  <div class="field">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required/>
  </div>
  <div class="field">
    <label for="message">Message</label>
    <textarea name="message" id="message" rows="3" required></textarea>
  </div>
</div>
<ul class="actions">
  <li><input type="submit" value="Send Message" /></li>
</ul>
</form>

</div>
</body>
</html>