<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Block Party</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  

  <h1>BLOCK PARTY</h1>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a
          href="/"
          class="navbar-brand mb-0 h1">
          Home
        </a>
          <button 
          type="button" 
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          class="navbar-toggler"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
          </button>
          <div  
              class="collapse navbar-collapse"
              id="navbarNav">
              <ul class="navbar-nav">   
                <li class="nav-item  active">
                  <a href="/neighbors" class="nav-link">About Your Neighbors</a>
                </li>
                <li class="nav-item  active">
                  <a href="/contact" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item  active">
                  <a href="/signup" class="nav-link">Sign Up</a>
                </li>
              </ul>
    </nav>
          
          <style>
            .carousel-item{
              height:32rem;
              background:grey;
              position: relative;
            }
            .container{
              position:absolute;
              bottom: 0;
              left: 0;
              right: 0;
              padding-bottom: 50px;
            }
          </style>

          <div id="myCarousel" class="carousel slide" 
          data-bs-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-bs-target="#myCarousel"
                  data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#myCarousel"
                  data-bs-slide-to="1"></li>
                  <li data-bs-target="#myCarousel"
                  data-bs-slide-to="2"></li>
                  <li data-bs-target="#myCarousel"
                  data-bs-slide-to="3"></li>
                </ol>
              <div class="carousel-inner">   
                <div class="carousel-item active"
                 style="background-image:url(../public/img/bethModel.jpg);">  
                  <div class="container">
                    <h1>test header</h1>
                    <p>this is a test to see how it looks</p>
                    <a href="#" class="btn btn-lg btn-primary">
                    sign up today
                    </a>
                  </div>
                </div>      
                <div class="carousel-item">
                  <div class="container">
                    <h1>test bs</h1>
                    <p>this is a test to see how it looks</p>
                    <a href="#" class="btn btn-lg btn-primary">
                    sign up today
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container">
                    <h1>test bs</h1>
                    <p>this is a test to see how it looks</p>
                    <a href="#" class="btn btn-lg btn-primary">
                    sign up today
                    </a>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="container">
                    <h1>test bs</h1>
                    <p>this is a test to see how it looks</p>
                    <a href="#" class="btn btn-lg btn-primary">
                    sign up today
                    </a>
                  </div>
                </div>
              </div> 
          </div>
         
      
        <h3 class="container">
          <h4>MISSION</h4>
          <section class="mission">welcome to the block. our mission is to create a place for local artist in MA to have a platform to show there work and capabilities on what they can do and give them the support and encouragement. I'm here to spread the light in My Block to those who haven't seen them. Show the love to My block and party with us until we can't no more.'why did i create it'</section>
          <h5>Quote</h5>
          <section class="quote">The grass is always greener on the block.</section>
        </h3>


      <footer>
        <section class="split contact">
          <section class="alt">
            <h3>Located At</h3>
            <p>Boston M.A.<br />
            </p>
          </section>
          <section>
            <h3>Email</h3>
            <p><a href="#">Dev.oscarrios@gmail.com</a></p>
          </section>
          <section>
            <h3>Social</h3>
            <ul class="icons alt">
              <li><a href="https://twitter.com/Oscarthecoder" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.linkedin.com/in/oscar-rios-/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
              <li><a href="https://github.com/oscarthecoderr" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            </ul>
          </section>
        </section>

      </footer>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
      <script src="main.js"></script>

</body>
</html>