<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>About Your Neighbors</h1>
        <nav>
      <ul>

          <li><a href="/">Home</a></li>
          <li><a href="/neighbors">About Your Neighbors</a>
          <li><a href="/MoveInDay">Move In Day</a></li>
          <li class="nav-item"><a href= "/signIn" class="nav-link">Sign In</a></li>


      </ul>
    </nav>
  </header>

  <section>
      <h4>Name</h4>
    <section>
      <img src="#">
    </section>
      <section>
        <p></p>
      </section>
        <div></div>
        <div></div>
  </section>
  
  <section>
    <h4>Name</h4>
  <section>
    <img src="#">
  </section>
    <section>
      <p></p>
    </section>
      <div></div>
      <div></div>
</section>

  <section>
      <h4>Name</h4>
    <section>
      <img src="#">
    </section>
      <section>
        <p></p>
      </section>
        <div></div>
        <div></div>
  </section>

  <section>
      <h4>Name</h4>
    <section>
      <img src="#">
    </section>
    <section>
      <p></p>
    </section>
      <div></div>
      <div></div>
  </section>

  <section>
      <h4>Name</h4>
    <section>
      <img src="#">
    </section>
    <section>
      <p></p>
    </section>
    <div></div>
    <div></div>
  </section>

  <section>
    <h4>Name</h4>
    <section>
      <img src="#">
    </section>
    <section>
      <p></p>
    </section>
    <div></div>
    <div></div>
  </section>

  <footer>
    <section class="split contact">
      <section class="alt">
        <h3>Located At</h3>
        <p>Boston M.A.<br />
        </p>
      </section>
      <section>
        <h3>Email</h3>
        <p><a href="#">Dev.oscarrios@gmail.com</a></p>
      </section>
      <section>
        <h3>Social</h3>
        <ul class="icons alt">
          <li><a href="https://twitter.com/Oscarthecoder" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.linkedin.com/in/oscar-rios-/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <li><a href="https://github.com/oscarthecoderr" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        </ul>
      </section>
    </section>
  </footer>

</body>
</html>
