<!doctype html>
<html>
<head>
    <title>The Block Party</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <style>
      .neighbors{
        text-align: center;
        font-size: 4rem;
        color:white;
              -webkit-text-stroke-width: 1px;
              -webkit-text-stroke-color: black;
      }
      h4{
        text-align: center;
      }
      .row-1{
        border: 1px solid red;
      }
      body{
        background-color: #000000;
        background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
      }

    </style>
    <h1 class="neighbors">About Your Neighbors</h1>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" 
    style="display:flex;
    flex-direction: column;
    ">
      <a
        href="/"
        class="navbar-brand mb-0 h1">
        Home
      </a>
        <button 
        type="button" 
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div  
            class="collapse navbar-collapse"
            style="justify-content: space-around;";
            id="navBarNav">
            <ul class="navbar-nav">   
              <li class="nav-item  active">
                <a href="/neighbors" class="nav-link">About Your Neighbors</a>
              </li>
              <li class="nav-item  active">
                <a href="/contact" class="nav-link">Contact Us</a>
              </li>
              <li class="nav-item  active">
                <a href="/signup" class="nav-link">Sign Up</a>
              </li>
            </ul>
  </nav>
        
  </header>
<section class="container" style="display:flex; flex-direction:row; justify-content:space-around;">
  <section class="row-1">
      <h4>Name</h4>
    <section>
      <img src="img/menace.png" class="rounded float-left" alt="model">
    </section>
      <section>
        <p>asduhfuigahsiufaweoifoiawe</p>
      </section>
        <div>
          <button>TICKETS</button>
        </div>
        <div>profile link</div>
  </section>
  
  <section class="row-1">
    <h4>Name</h4>
  <section>
    <img src="img/beOpen.jpg" class="rounded float-left" alt="model">
  </section>
    <section>
      <p>this is bellita</p>
    </section>
      <div>
        <button>TICKETS</button>
      </div>
      <div>profile link</div>
  </section>
</section>



  <footer>
    <section class="split contact">
      <section class="alt">
        <h3>Located At</h3>
        <p>Boston M.A.<br />
        </p>
      </section>
      <section>
        <h3>Email</h3>
        <a href="mailto:Dev.oscarios@gmail.com">Send Email</a>
      </section>
      <section>
        <h3>Social</h3>
        <ul class="icons alt">
          <li><a href="https://twitter.com/Oscarthecoder" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://www.linkedin.com/in/oscar-rios-/" class="icon brands alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <li><a href="https://github.com/oscarthecoderr" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        </ul>
      </section>
    </section>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
