*{box-sizing: border-box;}

img{
  height: 200px;
}

h1{
  font-family: 'Lacquer', cursive;
}
.neighbors{
  text-align: center;
  font-size: 4rem;
  color:white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
}
h4{
  text-align: center;
}
.row-1{
  border: 1px solid red;
}

.block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.container{
  width:40%;
}
#myCarousel{
  width:50%;
}




